.minesweeper-form {

}

.game-wrapper {
    margin-top: 15px; 
}

.game-wrapper table {
    margin: 0 auto;
    border-spacing: 3px;
    border-collapse: separate;
}

.game-wrapper td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.game-wrapper td:hover {
    transform: scale(1.05, 1.05);
}

.game-wrapper td.flag:after {
    content: "\2691";
}

.game-wrapper td.mine:after {
    content: "\1F4A3";
}

.light-blue { color: #183f7f; }
.light-red { color: #962121; }
.light-green { color: #3a9667; }
.dark-blue { color: #012c72; }
.dark-red { color: #7c0606; }
.dark-green { color: #004722; }


/* --- Additional classes --- */
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}